@media (min-width: 320px) and (max-width: 480px) {
	#wrapper {
		width: 320px;
	}
	
	main .img-container img {
		max-width: 200px;
	}
	
	main form {
		width: 200px;
	}
	
	#bg-left, #bg-right {
		display: none;
	}
	
	nav ul li {
		display: block;
	}
	
	.menuItem {
		display: none;
	}
	
	main .img-container.left, main .img-container.right {
		margin-left: auto;
		margin-right: auto;
	}
}